a {
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	margin: auto;
}

header {
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(pic1.jpg);
	height: 100vh;
	~webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.nav-area{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li{
	display: inline-block;
}
.nav-area le a{
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 14px;
}
.nav-area li a:hover{
	background: #fff;
	color: #333;
}
.logo img{
	width:100px;
	float: left;
	height: auto;
}


/*left button*/
/*left button*/
#left {
	position: absolute;
	width: 600px;
	height:300px;
	margin: 20% 30%;
	text-align: left;
	align-content: left;
}
#left h1{
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text a{
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
}
.welcome-text a:hover{
	background: #fff;
	color: #333;
}


#center {
	position: absolute;
	width: 600px;
	height:300px;
	margin: 20% 30%;
	text-align: center;
}
#center h1{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text a{
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
}
.welcome-text a:hover{
	background: #fff;
	color: #333;
}



#right {
	position: absolute;
	width: 600px;
	height:300px;
	margin: 20% 30%;
	text-align: right;
}
#right h1{
	text-align: right;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text a{
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
}
.welcome-text a:hover{
	background: #fff;
	color: #333;
}









